body{
	background: url(../images/fondo-inicio.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.index{
	top: 150px;
	align-items: center;
	height: 100vh;
}

.jugardor{
	margin: 0 auto;
}

.botones{
	display: flex;
}

button{
	width: 120px;
}

.cine, .ciencias, .historia, .deportes{
	margin-top: 10px;
	margin-left: 10px;
	font-family: 'Baloo Tammudu', cursive;
}

@media (max-width: 815px){
	.botones{
		display: block;
	}
}
