body{
	color: white;
}

.tu-pregunta{
	position: absolute;
	top: 6px;
	left: 520px;
}

.respuestaIncorrecta{
	margin-top: 5px;
}

button{
	font-family: 'Baloo Tammudu', cursive;
}

@media (max-width: 820px){
	body{
		font-size: 13px;
	}

	.tu-pregunta{
		left: 220px;
	}
}

@media (max-width: 400px){
	.tu-pregunta{
		left: 40px;
	}
}